@{
    ViewBag.Title = "Home Page";
}
@section featured {
    
}

<h1>Welcome to Fantasy Football Corner!</h1>


<div class="row">  

    @Html.ActionLink("Search for a Player", "Index", "Player", null, new { @class = "btn btn-primary btn-lg col-mid-2 col-sm-3 col-xs-4" })
    &nbsp;
    <button class="btn btn-primary btn-lg col-mid-2 col-sm-3 col-xs-4">View My Team (Coming Soon)</button>
    &nbsp;
    <button class="btn btn-primary btn-lg col-mid-2 col-sm-3 col-xs-4">Join a League (Coming Soon)</button>

    <!--div>
        @Html.ActionLink("Quarter Backs", "Index", "Player", null, new { @class = "btn btn-primary btn-lg col-mid-2 col-sm-3 col-xs-4" })
        @Html.ActionLink("Running Backs", "Index", "Player", null, new { @class = "btn btn-primary btn-lg col-mid-2 col-sm-3 col-xs-4" })
        @Html.ActionLink("Wide Receivers", "Index", "Player", null, new { @class = "btn btn-primary btn-lg col-mid-2 col-sm-3 col-xs-4" })
        @Html.ActionLink("Tight Ends", "Index", "Player", null, new { @class = "btn btn-primary btn-lg col-mid-2 col-sm-3 col-xs-4" })
        @Html.ActionLink("Kickers", "Index", "Player", null, new { @class = "btn btn-primary btn-lg col-mid-2 col-sm-3 col-xs-4" })
        @Html.ActionLink("Defense/Special Teams", "Index", "Player", null, new { @class = "btn btn-primary btn-lg col-mid-2 col-sm-3 col-xs-4" })
    </!-->
    
</div>

