@model FantasyFootballCorner.Models.PlayerBackground

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PlayerBackground</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.height)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.height)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dob)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.college)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.college)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.highSchool)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.highSchool)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.draftYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.draftYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.picUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.picUrl)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
