@model FantasyFootballCorner.Models.PlayerStat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PlayerStat</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.player.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.player.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.season)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.season)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.weekNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.weekNum)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
