@model IEnumerable<FantasyFootballCorner.Models.PlayerStat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.statNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.player.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weekNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.statNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weekNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
