@model IEnumerable<FantasyFootballCorner.ViewModels.PlayerIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="@Url.Content("/Scripts/ffc_js/player_index.js")"></script>

<h1>Player Index</h1>
<br />

<br />
<script type="text/javascript">   
    var timer = new Date();
    var arrCats = [];
    var arrPlayers = [];
    var currPage = 1;
    var numRows = 10;
</script>
<div class="row">

@using (Html.BeginForm("Index", "Player", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div style="max-width:200px; float:left; display:inline-block;">
        <div class="form-group ">
            <label class="control-label " for="inputSmall">Player Name</label>
            @Html.TextBox("Name", "", new {@class="form-control "})
        </div>
        <div class=" form-group ">
            <label class="control-label ">Position</label>
            <div class="">
                <select class="dropdown form-control" name="position">
                    <option value="ALL">Any Position</option>
                    <option value="QB">Quarter Backs</option>
                    <option value="RB">Running Backs</option>
                    <option value="WR">Wide Receivers</option>
                    <option value="TE">Tight Ends</option>
                    <option value="K">Kickers</option>
                    <option value="DEF">Defense/Special Teams</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
    
}
@using (Html.BeginForm("Compare", "Player", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    <div  id="divComparePlayers" style=" float:right; display:inline-block;">
        <div style="width:100%; text-align:center">
            <button id="compareSubmit" type="submit" class="btn btn-primary btn-xs">Compare Players (select up to 5)</button>           
        </div>
        <div id="playerCompare_0" class="playerCompareBlock" PID=-1>
            <div class="comparePlayerName comparePlayerText"></div>
            <div style="width:100%;" class="comparePlayerImage">
                <div class="divDropHere">
                    Drop Player Here
                </div>
            </div>
            <a  class="btn btn-primary btn-xs compareRemoveButton" style="display:none; margin-top:2px;" >Remove</a>
            <input name="player0" type="hidden" value="-1" />
        </div>  
        <div id="playerCompare_1" class="playerCompareBlock" PID=-1>
            <div class="comparePlayerName comparePlayerText"></div>
            <div style="width:100%;" class="comparePlayerImage">
                <div class="divDropHere">
                    Drop Player Here
                </div>
            </div>
            <a  class="btn btn-primary btn-xs compareRemoveButton" style="display:none; margin-top:2px;" >Remove</a>
            <input name="player1" type="hidden" value="-1" />
        </div>
        <div id="playerCompare_2" class="playerCompareBlock" PID=-1>
            <div class="comparePlayerName comparePlayerText"></div>
            <div style="width:100%;" class="comparePlayerImage">
                <div class="divDropHere">
                    Drop Player Here
                </div>
            </div>
            <a  class="btn btn-primary btn-xs compareRemoveButton" style="display:none; margin-top:2px;" >Remove</a>
            <input name="player2" type="hidden" value="-1" />
        </div>
        <div id="playerCompare_3" class="playerCompareBlock" PID=-1>
            <div class="comparePlayerName comparePlayerText"></div>
            <div style="width:100%;" class="comparePlayerImage">
                <div class="divDropHere">
                    Drop Player Here
                </div>
            </div>
            <a  class="btn btn-primary btn-xs compareRemoveButton" style="display:none; margin-top:2px;">Remove</a>
            <input name="player3" type="hidden" value="-1" />
        </div>
        <div id="playerCompare_4" class="playerCompareBlock" PID=-1>
            <div class="comparePlayerName comparePlayerText"></div>
            <div style="width:100%;" class="comparePlayerImage">
                <div class="divDropHere">
                    Drop Player Here
                </div>
            </div>
            <a  class="btn btn-primary btn-xs compareRemoveButton" style="display:none; margin-top:2px;" onclick="">Remove</a>
            <input name="player4" type="hidden" value="-1" />
        </div>
    
    </div>
}
</div>

@if (Model.Count() == 0)
{
    <h2>No Players Match this criteria.  Please try again.</h2>
}
else
{
<div class="row">
    <div class="col-lg-12 col-md-12 " style="display: inline-block; overflow-x:scroll; padding:0px;">
        <table class="table table-striped table-hover " id="tablePlayers" style="margin-bottom:0px;" >
            <thead>
                <tr>
                    <th ></th>
                    <th onclick="Sort(this)" sortCat="name">
                        @Html.DisplayNameFor(model => model.player.playerName)
                        <span  ></span>
                    </th>
                    <th onclick="Sort(this)" sortCat="position">
                        @Html.DisplayNameFor(model => model.player.position)
                        <span  ></span>
                    </th>
                    <th onclick="Sort(this)" sortCat="team">
                        @Html.DisplayNameFor(model => model.team.teamName)
                        <span  ></span>
                    </th>               
                
                @foreach (var pivm in Model.First().statsList)
                {
                    <script type="text/javascript"> 
                        arrCats.push({statID: @pivm.statId, statName: '@pivm.statCat.shortName'});
                    </script>
                    <th onclick="Sort(this)" sortCat=@pivm.statId>
                        @pivm.statCat.shortName
                        <span  ></span>
                    </th>
                }

                </tr>
            </thead>
            <tbody>
            @for(var i = 0; i < Math.Min(10,Model.Count()); i++)
            {
                var item = Model.ElementAt(i);
                <tr class="success ui-dragable playerRow" pid=@item.player.playerId pIndex=i>
                    <td >
                        <img class="dragIcon" src="..\..\images\drag_arrow-hi.png" height="25" width="25" />
                    </td>
                    <td >
                        @Html.ActionLink(item.player.playerName, "Details", new { id = item.player.playerId }, new { @class = "detailsLink" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.player.position)
                    </td>
                    <td>
                        @(item.team.geoName + " " + item.team.teamName)
                    </td>
                    <script type="text/javascript">
                        arrPlayers.push({
                            playerId: @item.player.playerId,
                            name: '@item.player.playerName',
                            position: '@item.player.position', 
                            team: '@item.team.geoName' + ' ' + '@item.team.teamName',
                            pic: '@item.playerBackground.imageUrl', 
                            stats: {}
                        });           
                    </script>
                        @foreach (var stat in item.statsList)
                        {
                            <script type="text/javascript">  
                                arrPlayers[arrPlayers.length - 1].stats[@stat.statId] = @stat.statAmt;
                            </script>
                            <td>
                                @stat.statAmt
                            </td>   
                        }  
                </tr>
            }
            </tbody>  
        </table>        
    </div>
    <script type="text/javascript">    
    @for(var i = 10; i < Model.Count(); i++)
    {
        var item = Model.ElementAt(i);
        <text>          
            arrPlayers.push({
                playerId: @item.player.playerId,
                name: '@item.player.playerName',
                position: '@item.player.position', 
                team: '@item.team.geoName' + ' ' + '@item.team.teamName',
                pic: '@item.playerBackground.imageUrl', 
                stats: {}
            });               
        </text>       
        foreach (var stat in item.statsList)
        {          
            @:arrPlayers[arrPlayers.length - 1].stats[@stat.statId] = @stat.statAmt;                                      
        }  
        
    }           
    </script> 
    <ul class="pagination pagination-sm" id="pager" style="display:block;">
        <li class="disabled"><a onclick="Pager('first')"><<</a></li>
        <li class="disabled"><a onclick="Pager('prev')"><</a></li>
        <li class=""><a onclick="Pager('next')">></a></li>
        <li class=""><a onclick="Pager('last')">>></a></li>
    </ul>
</div>

<div id="divPlayerDragImage"><img id="imgPlayerDrag" /></div>

}
<script>
    console.log('Load time: ' + (new Date() - timer));
    

    
</script>

