@model FantasyFootballCorner.Models.WeekStat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WeekStat</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.player.playerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.player.playerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_13)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_13)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_14)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_14)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_15)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_15)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_16)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_16)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_17)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_17)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_18)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_18)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_19)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_19)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_20)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_20)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_21)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_21)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_22)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_22)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_23)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_23)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_24)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_24)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_25)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_25)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_26)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_26)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_27)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_27)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_28)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_28)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_29)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_29)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_30)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_30)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_31)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_31)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_32)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_32)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_33)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_33)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_34)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_34)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_35)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_35)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_36)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_36)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_37)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_37)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_38)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_38)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_39)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_39)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_40)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_40)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_41)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_41)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_42)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_42)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_43)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_43)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_44)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_44)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_45)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_45)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_46)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_46)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_47)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_47)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_48)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_48)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_49)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_49)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_50)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_50)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_51)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_51)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_52)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_52)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_53)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_53)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_54)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_54)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_55)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_55)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_56)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_56)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_57)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_57)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_58)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_58)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_59)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_59)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_60)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_60)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_61)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_61)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_62)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_62)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_63)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_63)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_64)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_64)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_65)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_65)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_66)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_66)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_67)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_67)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_68)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_68)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_69)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_69)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_70)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_70)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_71)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_71)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_72)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_72)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_73)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_73)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_74)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_74)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_75)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_75)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_76)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_76)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_77)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_77)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_78)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_78)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_79)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_79)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_80)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_80)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_81)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_81)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_82)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_82)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_83)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_83)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_84)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_84)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_85)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_85)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_86)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_86)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_87)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_87)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_88)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_88)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_89)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_89)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_90)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_90)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statCat_91)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statCat_91)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
